@model InlaksAlumniWebsite.Models.Event

@{
    ViewBag.Title = "DeleteEvent";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_HeaderPartial")
<div id="page-wrapper">

    <h3>Are you sure you want to delete this record?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateRegistered)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateRegistered)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "ManageEvent")
            </div>
        }
    </div>
    </div>
