@model IEnumerable<InlaksAlumniWebsite.Models.Event>

@{
    ViewBag.Title = "ManageEvent";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_HeaderPartial")
<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                <h4>Manage Events</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Event Title</th>
                            <th>Event Location</th>
                            <th>Event Date</th>
                            <th>Event Time</th>
                            <th>Date Registered</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateRegistered )
                                </td>

                                <td>
                                    @Html.ActionLink("View", "EditEvent/"+item.EventId, "Admin")
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "DeleteEvent/" + item.EventId, "Admin")
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



