@model IEnumerable<InlaksAlumniWebsite.Models.Donation>

@{
    ViewBag.Title = "ViewCollections";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_HeaderPartial")
<div id="page-wrapper">


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.DonationTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DonationTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DonationId }) |
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DonationId })
                </td>
            </tr>
        }

    </table>
    </div>
