@model IEnumerable<InlaksAlumniWebsite.Models.EventImage>

@{
    ViewBag.Title = "ViewGallery";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
    var BaseUrl = Request.Url.Host;
}

@Html.Partial("_HeaderPartial")
<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                <h3 class="title1">Event Photos</h3>




                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name )
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.ImagesUrl)
                                </th>


                            </tr>
                         </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                       <a href="~/Content/photos/@item.ImagesUrl" target="_blank"> @Html.DisplayFor(modelItem => item.ImagesUrl)</a>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteImage/" +item.ImageId, "Admin", new { @class = "btn btn-danger"})
                                    </td>
                                </tr>
                            }

                   </table>


                <!--<div class="error-page">


            <div class="service_1-right col-md-3">
                <img src="~/Content/admin/images/INLAKS-1.jpg">

            </div>
            <div class="service_1-right">
                <img src="~/Content/admin/images/INLAKS-2.jpg">

            </div>
        </div>

        <div class="error-page">


            <div class="service_1-right col-md-3">
                <img src="~/Content/admin/images/INLAKS-1.jpg">

            </div>
            <div class="service_1-right">
                <img src="~/Content/admin/images/INLAKS-2.jpg">

            </div>
        </div>-->
                </div>
            </div>
        </div>
</div>



