@model IEnumerable<InlaksAlumniWebsite.Models.Event>
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about" >About</a></li>
                    <li><a href="event" class="active">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>

    <!-- banner-text -->
    <!-- banner -->
    <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3); border-radius: 50px; font-size: 20px;">
        <h1 style="font-size: 50px">Events</h1>
        <p>Home > Event</p>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Event Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!--span aria-hidden="true">&times;</!--span>-->
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>


<div class="w3ls-section" id="inner-about">
    <!--<div class="agileits_w3layouts-services-mid">
        <div class="col-md-5 services-mid-img">
        </div>
        <div class="col-md-5 services-mid-text">
        </div>
        <div class="clearfix"> </div>
    </div>-->
    <div class="w3ls-section">
        <div class="container">
            <div class="services-w3ls-row agileits-w3layouts" style="box-shadow: 5px 5px 5px 5px grey">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center; color: black; font-size:18px;">Event Title</th>
                            <th style="text-align:center; color: black; font-size:18px;">Event Location</th>
                            <th style="text-align:center; color: black; font-size:18px;">Event Date</th>
                            <th style="text-align:center; color: black; font-size:18px;">Event Time</th>
                            <th style="text-align:center; color: black; font-size:18px;">Date Registered</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateRegistered)
                                </td>

                                <td>
                                    @*
    <div>
        @Html.ActionLink("View", "EditEvent/" + item.EventId, "Home", new { @class = "btn btn-default", @style = "border-radius: 50px; color: rgb(10, 204, 149); border-color: rgb(10, 204, 149);" })
    </div>
                                    *@

                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius:50px; background-color:#49c7ed; color:white">
                                        Read More
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>



                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    </div>

